<div class="ui raised segment">
    <h2 class="ui header">Додати накладну</h2>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="ui form">
      <div class="field">
        <label>Артикул</label>
        <input type="text" class="form-control" formControlName="article" placeholder="{{ product.article }}">
      </div>

      <!--title-->
      <div class="field">
        <label>Назва</label>
        <input type="text" class="form-control" formControlName="name" placeholder="{{ product.name }}">
      </div>

      <!--cost-->
      <div class="field">
          <label>Націнка</label>
          <input type="text" class="form-control" formControlName="lift" placeholder="{{ product.lift }}">
        </div>

        <!--cost-->
      <div class="field">
          <label>Приорітет</label>
          <input type="text" class="form-control" formControlName="priority">
        </div>

      <!--ingridients-->
      <div formArrayName="ingridients" class="ui piled green segment">
        <h5>Складові</h5>
        <div *ngFor="let item of product.ingridients" class="ui raised segment">
          <div class="panel-heading">
            <span *ngIf="myForm.controls.ingridients.controls.length > 1" (click)="removeIngridient(i)"><i class="trash icon red"></i> </span>
          </div>
          <div class="panel-body" [formGroupName]="i">

            <div class="field">
              <label>Сировина</label>
              <select name="rawsOptions" id="raws" class="form-control" formControlName="raw">
                  <option  *ngFor="let value of rawsOptions" [value]="value.id+'-'+value.name" [selected]="value.selected == true">{{value.name}}</option>
              </select>
              <div class="ui message">Попереднє значення: {{item.name}}</div>
            </div>

            <div class="field">
              <label>Кількість</label>
              <input type="text" class="form-control" formControlName="quantity" placeholder="{{item.quantity}}">
            </div>
          </div>
        </div>
        <a (click)="addIngridient()" style="cursor: default">
          Додати складову +
        </a>
      </div>

      <div class="margin-20">
        <button type="submit" class="ui button green" [disabled]="!myForm.valid">Зберегти</button>
      </div>
      <div class="clearfix"></div>
    </form>
    </div>

    <pre>Product: {{ getProd() }}</pre>
    <pre>{{ product.ingridients }}</pre>

