<h2 class="right">Сировини</h2>

<table class="ui red selectable celled table">
  <thead>
    <tr>
      <th>Продукт</th>
      <th>Собівартість</th>
      <th>Націнка</th>
      <th>Статус</th>
      <th>Вартість</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" [class.warning]="item.price === item.cost" [class.negative]="item.price/item.cost < 1.01">
      <td>
          <i class="thumbs down icon" *ngIf="!item.status"></i>
          <i class="thumbs outline up icon" *ngIf="item.status"></i>
        <a [routerLink]="['/show', item.id]"><b>{{ item.name }}</b></a>
      </td>
      <td>{{ item.cost }}</td>
      <td>{{ item.lift }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </tbody>
</table>
